* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(200, 174, 238);
    background: linear-gradient(326deg, rgba(200, 174, 238, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color: white;
    min-height: 100vh;
}